.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #2C2F33;
}

.homeAnchorPane, .categoriesAnchorPane, .cartAnchorPane, .favoritesAnchorPane, .accountAnchorPane {
   -fx-background-color: #3F4042;
}

.todayDealAnchorPane, .forMenCategories, .forWomenCategories, .forKidsCategories, .suggestCartAnchorPane, .suggestLatestOrdersAnchorPane {
   -fx-background-color: linear-gradient(to right bottom, #002a4a, #29244e, #481745, #5d022f, #640011);
   -fx-background-radius: 20px;
}

.table-row-cell:filled:hover {

    -fx-size:50;
    -fx-alignment: CENTER;
    -fx-text-alignment: center;


}

.table-view:row-selection {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-fixed-cell-size: 50;
    -fx-alignment: CENTER;
    -fx-text-alignment: center;

}

.table-view .table-column{
    -fx-text-alignment: center;
    -fx-alignment: CENTER 

}
/*
.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}
*/
/*
.tab-pane .tab-header-area .tab-header-background {
    -fx-effect: null;
}
*/
